
  importFrom("stats", "addmargins", "ftable", "is.empty.model", "model.matrix", "model.response",
             "pnorm", "qnorm", "dnorm", "median", "quantile", "reshape","rnorm", "runif", "cov", "rgamma")
  importFrom("graphics", "legend", "lines", "mtext", "par")
  importFrom("methods", "new", "validObject")
  importFrom("MASS", "fitdistr")
  importFrom("nloptr", "nloptr")
  importFrom("clipr", "write_clip")



  export("table_f")
  export("tableToData")
  export("MCLogLin")
  export("MCPower")
  export("renewal")
  

exportClasses("powerClass")
exportMethods(
    "[",
    "plot",
    "print"
)